@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin-top: -10px;
  color: 3f3f3f;

}
h1 {
  font-weight: 300;
  margin-top: -10px;
}

.links {
  margin: 20px;
  padding: 5;
}

.links a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.links a:hover{
  text-decoration: none;
  color: #f38887;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

button {
  border-radius: 6px;
  padding: 12px 24px;
  background: #ffffff14;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  transition: transform 80ms ease-in;
}
button:hover {
  background: #fff;
  color: #787685;
}
button:active {
  transform: scale(0.95);
}
input {
  background: transparent;
  padding: 13px 16px;
  background-color: #f0f4f3;
  border: none;
  font-size: 15px;
  margin-bottom: 7px;
  width: 100%;
}
input::placeholder {
  color: #a0a0a0;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-container.sign-in-container {
  left: 0;
  width: 60%;
  z-index: 2;
}

.form-container.sign-up-container {
  left: 0;
  width: 60%;
  opacity: 0;
  z-index: 1;
}

.form-container .sign-in-container a:link{
  text-decoration: none;
}

.form-container button {
  background: #f36c6c;
  border: 1px solid #f36c6c;
  color: #fff;
}
.form-container button:hover {
  background: transparent;
  color: #eb7775;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(66.5%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(66.5%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay-container .overlay {
  background: linear-gradient(-30deg, #f5a5a3, #f38887,#f79997);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  left: -150%;
  height: 100%;
  width: 250%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 40%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-container .overlay .overlay-panel.overlay-left {
  transform: translateX(-20%);
}
.overlay-container .overlay .overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right-panel-active .overlay-container {
  transform: translateX(-150%);
}
.container.right-panel-active .overlay-container .overlay {
  transform: translateX(60%);
}
.container.right-panel-active .overlay-container .overlay .overlay-left {
  transform: translateX(0);
}
.container.right-panel-active .overlay-container .overlay .overlay-right {
  transform: translateX(20%);
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 1;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
@keyframes show {
  0%, 39.99% {
    opacity: 0;
    z-index: 1;
  }
  40%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

.button {
  border-radius: 6px;
  padding: 12px 24px;
  background: #ffffff14;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  transition: transform 80ms ease-in;
}
.button:hover {
  background: #fff;
  color: #f5a5a3;
}
.button:active {
  transform: scale(0.95);
}